* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/*Utili*/

.prezzo-sbarra {
  text-decoration: line-through;
}

.a-end {
  text-align: end;
}

.m-10 {
  margin-bottom: 10px;
}

.a-center {
  text-align: center;
}

.bg-color {
  background-color: black;
}

.black {
  color: black;
}

.red {
  color: red;
}

.m-20 {
  margin-bottom: 30px;
}

.row {
  flex-wrap: wrap-reverse;
  gap: 20px;
}

.c-white {
  color: white;
}

.df {
  display: flex;
}

.aline-center {
  justify-content: space-evenly
}

.size {
  height: 30px;
}

.p-50 {
  padding: 50px;
}

.bg-orange {
  background-color: rgb(255, 103, 1);
}

/*Header*/

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 15px;
  margin: 0 auto;
}

.gender {
  width: 25%;
  text-align: start;
}

.logo {
  width: 50%;
}

.icon {
  width: 25%;
  text-align: end;

}

/*Main*/

button {
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

i:hover {
  color: red;
}

.h-400 {
  height: 600px;
}

.w-300 {
  width: 400px;
}

.colonne {
  width: calc((100% - 40px) / 3);
  position: relative;
}


.contain {
  object-fit: cover
}

.width {
  width: 100%;
  height: auto;
}

.cuore {
  padding: 10px;
  margin-top: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.q-piccolo {
  padding: 12px;
  background-color: white;
}

.sconto {
  padding: 5px;

  background-color: red;
  color: white;
}

.badge {
  position: absolute;
  bottom: 90px;
  left: 0px;
}

.verde {
  padding: 5px;

  background-color: green;
  color: white;
}

.verde-rosso {
  padding: 5px;
  background-color: green;
  color: white;
}